<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/errors/404.css') }}">
    <title>404 - Not Found Pages</title>
</head>
<body>
    
    <section class="container__error__400">
        <img src="{{ url_for('static', filename='assets/404.svg') }}" alt="404 Error">
        
        <h1>Pagina no encontrada</h1>
        <p>
            La página que estás buscando no existe. Verifica la URL e intenta nuevamente.
        </p>
        <p><strong>URL:</strong> {{ request.url }}</p>
        <p>
    
            {% if user_id %}
                <a href="{{ url_for('admin_dashboard') }}" aria-label="Volver al dashboard">
                    Vuelve al dashboard administrativo
                </a>
            {% elif session['mesa_asignada'] %}
                <a href="{{ url_for('menu_user', mesa_id=session['mesa_asignada']) }}" aria-label="Volver a mi mesa">
                    Volver a mi mesa
                </a>
            {% else %}
                <a href="/" aria-label="Volver a la página de inicio">
                    Volver a la página de inicio
                </a>
            {% endif %}
        </p>
        
    </section>

</body>
</html>