@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --fonts: 'Poppins', sans-serif;

    /* neutro colors */
    --white: #fff;
    --black: #000;
    --gray: #858585;

    /* principal colors */
    --blue: #4e38f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-family: var(--fonts);
}

.container__form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

form {
    display: flex;
    gap: 20px;
    flex-direction: column;
    background: var(--white);
    color: var(--black);
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    padding: 20px;
}

.container__logo {
    text-align: center;
}

.container__logo img {
    width: 100px;
}

.container__input__name,
.container__input__password {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-size: 16px;
    font-weight: bold;
}

input {
    font-size: 14px;
    border: 1px solid var(--gray);
    padding: 8px;
    font-size: 12px;
    box-sizing: border-box;
    border-radius: 8px;
}

input:focus {
    outline: 3px solid var(--blue);
}

.btn__primary {
    padding: 10px;
    border: none;
    background: var(--blue);
    color: var(--white);
    border-radius: 8px;
    cursor: pointer;
    font-family: var(--fonts);
}

@media (min-width: 576px) {
    form {
        max-width: 400px;
        height: 450px;
    }
}

@media (min-width: 768px) {
    form {
        max-width: 500px;
    }
}

@media (min-width: 992px) {
    form {
        max-width: 600px;
    }
}

@media (min-width: 1200px) {
    form {
        max-width: 700px;
    }
}