{% include 'layouts/base.html'   %}
{% block head %}
    
{% endblock %}

{% block body %}
    
    <div class="container__transferencia">
        <h2>Pago Transferencia</h2>
        <form>

            <div class="container__input">
                <label for="nombreUsuario">
                    Nombre:
                </label>
                <input type="text" name="nombreUsuario" autocomplete="off" id="nombreUsuario" required>
            </div>

            <div class="container__input">
                <label for="">
                    Numero de cuenta:
                </label>
                <input type="text" name="numeroCuenta" id="numeroCuenta" autocomplete="off" id="numeroCuenta" required pattern="\d{10,20}">
            </div>

            <div class="container__info__banco">
                <label for="">
                    Banco:
                </label>
                <select name="banco" id="bancoDestino">
                    <option value="" disabled selected>Seleccione un banco</option>
                    <option value="Banco Popular">Banco Popular</option>
                    <option value="Banco Banreservas">Banco Banreservas</option>
                    <option value="Banco BHD">Banco BHD</option>
                    <option value="Banco Vimenca/Western Union">Banco Vimenca/Western Union</option>
                    <option value="otros">Otros</option>
                </select>
            </div>

            <div class="container__input">
                <label for="">
                    Monto a Transferencia:
                </label>
                <input type="number" autocomplete="off" id="monto" required min="1">
            </div>

            <button type="submit">Realizar Transferencia</button>

        </form>
    </div>

{% endblock %}