{% extends 'layouts/base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/client/pago.css') }}">
{% endblock %}

{% block body %}
    <header class="container__head">
        <h1>Seleccionar Método de Pago</h1>
        <a href="{{ url_for('ver_carrito') }}">
            <i class="fa-solid fa-arrow-left"></i> Volver al carrito
        </a>
    </header>

    <section class="container__pago">

        <form method="POST" aria-label="Formulario de procesar metodo de pago">
            <p class="payment-message">
                Selecciona tu metodo de pago favorito y finaliza tu compra.
            </p>
            <div class="tabs">
                <input type="radio" id="tabTransferencia" name="metodo_pago" value="transferencia" onclick="openModal('modalTransferencia')">
                <label for="tabTransferencia" class="tab"><i class='fas fa-university'></i> Transferencia</label>
    
                <input type="radio" id="tabTarjeta" name="metodo_pago" value="tarjeta" onclick="openModal('modalTarjeta')">
                <label for="tabTarjeta" class="tab"><i class="fas fa-credit-card"></i> Tarjeta</label>
    
                <input type="radio" id="tabEfectivo" name="metodo_pago" value="efectivo" onclick="openModal('modalEfectivo')">
                <label for="tabEfectivo" class="tab"><i class="fas fa-money-bill-wave"></i> Efectivo</label>
            </div>
        </form>

        <div class="container__img">
            <img src="{{ url_for('static', filename='assets/pago.svg') }}" alt="icono de pago">
        </div>
    </section>


    <div id="modalTransferencia" class="modal">
        <div class="modal__content">
            <span class="close" onclick="closeModal('modalTransferencia')">&times;</span>
            {% include 'client/payments/transferencia.html' %}
        </div>
    </div>

    <div id="modalTarjeta" class="modal">
        <div class="modal__content">
            <span class="close" onclick="closeModal('modalTarjeta')">&times;</span>
            {% include 'client/payments/tarjeta.html' %}
        </div>
    </div>

    <div id="modalEfectivo" class="modal">
        <div class="modal__content">
            <span class="close" onclick="closeModal('modalEfectivo')">&times;</span>
            {% include 'client/payments/efectivo.html' %}
        </div>
    </div>

    <div id="loading-indicator">
        <div class="container__spinner">
            <div class="spinner"></div>
            <p style="margin-top: 10px;">Procesando pago...</p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/client/pago.js') }}" type="text/javascript"></script>

{% endblock %}
