<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargando...</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/splash.css') }}">
</head>
<body>

    <div class="container__slider">
        <h1>FoodOrder</h1>
        <nav class="slider__wrapper">
            <ul class="slider__icons__categories">
                <li>
                    <div>
                        <img src="{{ url_for('static', filename='assets/icons/hamburguesa.png') }}" alt="icon hamburguesa">
                    </div>
                </li>
                <li>
                    <div>
                        <img src="{{ url_for('static', filename='assets/icons/sushi.png') }}" alt="icon sushi">
                    </div>
                </li>
                <li>
                    <div>
                        <img src="{{ url_for('static', filename='assets/icons/tacos.png') }}" alt="icon tacos">
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/splash.js') }}"></script>

</body>
</html>