@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --font: 'Poppins', sans-serif;

    /* colors */
    --blue: #5640fd;
    --white: #fff;
    --blue-oscuro: #1a03c5;
}

/* 
________________________________
    CSS General
________________________________

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    appearance: none;
}

body {
    line-height: 1.6;
    font-family: var(--font);
}

/* 
________________________________
    Estilos funcionales
________________________________

*/

.reports__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container__btn__render__reports__pdf {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
}

.container__btn__render__reports__pdf > div > h5 {
    font-size: 15px;
    font-weight: 400;
}

.container__btn__render__reports__pdf > div {
    flex: 1 1 calc(50% - 10px);
    min-width: 200px;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}

.container__btn__render__reports__pdf > div > button {
    padding: 10px;
    width: 140px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: var(--font);
    background: var(--blue);
    color: var(--white);
    transition: all .3s ease;
}

.container__btn__render__reports__pdf > div > button:hover {
    background: var(--blue-oscuro);
    color: var(--white);
}

/* 
______________________________
    Media Querrys
______________________________

*/

@media (max-width: 600px) {
    .container__btn__render__reports__pdf {
        align-items: center;
        padding: 40px;
    }

    .container__btn__render__reports__pdf > div {
        flex: 1 1 100%;
        max-width: 100%;
        padding: 20px;
    }

    .container__btn__render__reports__pdf > div > h5 {
        font-size: 16px;
    }

    .container__btn__render__reports__pdf > div > button {
        width: 100%;
        font-size: 12px;
        padding: 8px;
    }
}

/*
______________________________
    End CSS
______________________________

*/