{% extends 'layouts/base.html' %}
{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    
{% endblock %}

{% block body %}

<div class="container__form">

    <div class="container__logo__img">
        <img src="{{ url_for('static', filename='assets/logo-login.svg') }}" alt="Logo login">
    </div>

    <form action="/login" method="post">

        <div class="container__logo">
            <h1>Inicia sesión en tu cuenta</h1>
        </div>

        <div class="container__input__name">
            <label for="name">
                Username:
            </label>
            <input type="text" name="name" id="name" autocomplete="off" required>
        </div>

        <div class="container__input__password">
            <label for="password">
                Password:
            </label>
            <div class="password-wrapper">
                <input type="password" name="passwd" id="passwd" autocomplete="new-password" required>
                <button type="button" id="togglePassword">
                    👁️
                </button>
            </div>
        </div>

        <button type="submit" class="btn__primary">Entrar</button>

    </form>

</div>

<script>
    document.getElementById("togglePassword").addEventListener("click", function() {
        let passwdInput = document.getElementById("passwd");
        if (passwdInput.type === "password") {
            passwdInput.type = "text";
            this.textContent = "🙈";
        } else {
            passwdInput.type = "password";
            this.textContent = "👁️";
        }
    });
</script>

{% endblock %}
