{% extends 'layouts/base.html' %}
{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/admin.css') }}">

{% endblock %}

{% block body %}

<section class="container__admin__dashboard">

    <aside class="container__admin__configuration">

        <nav class="navbar__admin">

            <ul class="links__admin">
                <!-- dashboard administrativo -->
                <li><a href="#" data-url="/admin">Dashboard</a></li>

                <!-- gestion de la app -->
                <li><a href="#" data-url="/admin/gestion">Gestion</a></li>
                <li><a href="#" data-url="/admin/pedidos">Pedidos</a></li>

                <!-- Employees -->
                <li><a href="#" data-url="/admin/gestion/employees">Empleados</a></li>

                <!-- reportes -->
                <li><a href="#" data-url="/admin/reports">Reportes</a></li>

                <!-- deslogueo -->
                <li><a href="/logout">Cerrar session</a></li>
            </ul>

        </nav>

    </aside>

    <main class="container__admin__content">
        <h1>Bienvenido {{ name }} al dashboard administrativo</h1>
    </main>

</section>

<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
    
{% endblock %}