{% extends 'layouts/base.html' %}
{% block head %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/client/employees.css') }}">

{% endblock %}

{% block body %}

<section class="container__employees">
    <h1>Sección de administración de empleados</h1>

    <div class="container__table__employee">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Password</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                {% for employee in employees %}
                <tr>
                    <td>{{ employee['id'] }}</td>
                    <td>{{ employee['name'] }}</td>
                    <td>{{ employee['password'] }}</td>
                    <td>{{ employee['email'] }}</td>
                    <td>{{ employee['rol'] }}</td>
                    <td>
                        <span class="status {% if employee['estado'] == 'activo' %}active{% else %}inactive{% endif %}" data-id="{{ employee['id'] }}">
                            {{ employee['estado'] }}
                        </span>

                    </td>
                    <td>
                        <button class="btn-status" data-id="{{ employee['id'] }}">
                            {% if employee['estado'] == 'activo' %}
                                🔴 Desactivar
                            {% else %}
                                🟢 Activar
                            {% endif %}
                        </button> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<script type="text/javascript" src="{{ url_for('static', filename='js/client/client.js') }}"></script>
    
{% endblock %}