{% extends 'layouts/base.html' %}
{% block head %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin/gestion.css') }}">
    
{% endblock %}

{% block body %}

<section class="container__gestion">

    <div class="container__img">
        <img src="{{ url_for('static', filename='assets/truck.svg') }}" alt="Logo Truck">
    </div>

    <div class="container__info__gestion">
        <h1>Gestion de administracion de la App</h1>

        <div class="container__buttons">
            <button type="button" id="appRedirect">Gestion App</button>
        </div>
    </div>

</section>


<script type="text/javascript" src="{{ url_for('static', filename='js/gestion.js') }}"></script>

{% endblock %}