<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesas</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/truck/mesa.css')  }}">
</head>
<body>

    <h1>Gestion de Mesas</h1>
    
    <div class="container-mesas">
        {% for mesa in mesas %}
            <div class="mesa {{ mesa['estado']  }} " data-id="{{ mesa['id']  }}">
                Mesa {{ mesa['id'] }}
            </div>
        {% endfor %}
    </div>

</body>
</html>