<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/reports.css') }}">
</head>

<body>

    <section class="container-reports">
        <h1>📊 Reportes Administrativos</h1>

        <div class="actions-bar">
            <p>
                Reportes de ventas <a href="/admin/reports/pdf" class="btn btn-success">descargar PDF</a>.
            </p>
        </div>

        <article class="card mt-4">
            <header class="card-header">
                <h2>Ventas por Metodo de Pago</h2>
            </header>

            <div class="card-body">
                <canvas id="graficoMetodosPago"></canvas>
            </div>
        </article>

        <article class="card mt-4">
            <header class="card-header">
                <h2>Ingresos por Food Truck</h2>
            </header>

            <div class="card-body">
                <canvas id="graficoTrucks"></canvas>
            </div>
        </article>

        <article class="card mt-4">
            <header class="card-header">
                <h2>Ventas por Producto</h2>
            </header>
        
            <div class="card-body">
                <canvas id="graficoVentasProducto"></canvas>
            </div>
        </article>
        
        <article class="card mt-4">
            <header class="card-header">
                <h2>Número de Transacciones por Food Truck</h2>
            </header>
        
            <div class="card-body">
                <canvas id="graficoTransaccionesTruck"></canvas>
            </div>
        </article>
        
        <article class="card mt-4">
            <header class="card-header">
                <h2>Ventas por Hora</h2>
            </header>
        
            <div class="card-body">
                <canvas id="graficoVentasHora"></canvas>
            </div>
        </article>
        
        <article class="card mt-4">
            <header class="card-header">
                <h2>Estado de las Mesas (Ocupadas y Libres)</h2>
            </header>
        
            <div class="card-body">
                <canvas id="graficoEstadoMesas"></canvas>
            </div>
        </article>
        
        
    </section>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/admin/reports.js') }}"></script>

</body>

</html>