<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Food Trucks</title>
</head>
<body>

    <div class="foodtruck-container">
        <h1>Gestion de Food trucks</h1>

        <div class="actions-bar">
            <a href="{{ url_for('create_trucks') }}" class="btn btn-primary">
                <i class="icon-plus"></i> Crear Trucks
            </a>
        </div>
        
        <div class="container__table">
            <h2>Food Trucks Activos</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Imagen</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if trucks %}
                        {% for truck in trucks %}
                            <tr>
                                <td>{{ truck['id']  }}</td>
                                <td>{{ truck['nombre_truck']  }}</td>
                                <td><img src="{{ truck['imagen_foodtruck']  }}" alt="imagen del food truck {{ truck['id']  }}"></td>
                                <td>{{ truck['estado_truck']  }}</td>
                                <td>
                                    <a href="/admin/foodtrucks/update_trucks/{{ truck['id']  }}">
                                        <i></i> editar
                                    </a>
                                    <a href="/admin/foodtrucks/desabilitar_trucks/{{ truck['id']  }}">
                                        <i></i> deshabilitar
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5" style="text-align: center;">No hay Food Trucks habilitados</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <div class="container__deshabilitados">
            <h2>Food Trucks Deshabilitados</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Imagen</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if disabled_foodtrucks %}
                        {% for disabled_trucks in disabled_foodtrucks %}
                            <tr>
                                <td>{{ disabled_trucks['id'] }}</td>
                                <td>{{ disabled_trucks['nombre_truck'] }}</td>
                                <td>{{ disabled_trucks['imagen_foodtruck'] }}</td>
                                <td>{{ disabled_trucks['estado_truck'] }}</td>
                                <td>
                                    <a href="/admin/foodtrucks/habilitar_trucks/{{ disabled_trucks['id']  }}">
                                        <i></i> habilitar
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5" style="text-align: center;">No hay Food Trucks deshabilitados</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

    </div>
    
</body>
</html>