<form action="{{ url_for('update_trucks', id=trucks.id) }}" method="post" enctype="multipart/form-data">

    <h1>Update Trucks</h1>

    <div class="container__input">
        <label for="nombreTrucks">
            Nombre:
        </label>
        <input type="text" name="nombreTrucks" id="nombreTrucks" required>
    </div>

    <div class="container__input">
        <label for="imagenTrucks">
            Imagen:
        </label>
        <input type="file" name="imagenTrucks" id="imagenTrucks" accept="imagen/*" required>
    </div>

    <div class="container__input">
        <label for="informacionTrucks">
            Informacion:
        </label>
        <textarea name="informacionTrucks" id="informacionTrucks" required></textarea>
    </div>

    <div class="container__input">
        <label for="especialidadTrucks">
            Especialidad:
        </label>
        <textarea name="especialidadTrucks" id="especialidadTrucks" required></textarea>
    </div>

    <div class="form__actions">
        <button type="submit">Actualizar</button>
    </div>

</form>